body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chat-list {
    width: 25%;
    float: left;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
}

#main-content {
    display: inline-block;
    width: 75%;
    height: 100vh;
}

#my-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

#my-info {
    font-weight: bold;
    margin: 0;
    height: 40px;
    padding-top: 10px;
}

#my-info span {
    font-size: 1.5em;
}

#my-info .buttons {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

#search-box {
    position: relative;
}

#search-box input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    outline: none;
    padding: 5px;
    padding-left: 25px;
}

#search-box .icon {
    position: absolute;
    top: 10px;
    left: 5px;
}

#list {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

#list li {
    padding: 10px 5px;
    border-radius: 10px;
}

#list li:hover, #list li.active {
    background: rgba(0, 0, 0, 0.05);
}

#list .chat-info {
    cursor: pointer;
    padding: 10px 0px;
}

#list .chat-info .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
}

#list .chat-info .summary {
    padding-left: 45px;
}

#list .chat-info .summary p {
    margin: 5px 0px;
}

#list .chat-info .summary .conversation-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#list .chat-info .summary .message {
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#main-content {
    box-sizing: border-box;
}

#main-content .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#main-content .header .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
}

#main-content .header .info {
    padding-top: 10px;
    padding-left: 50px;
    position: relative;
}

#main-content .header .info p {
    margin: 0;
}

#main-content .header .info .name {
    font-weight: bold;
    font-size: 1.5em;
}

#main-content .header .info .actions {
    float: right;
    color: plum;
    font-size: 1.5em;
    position: absolute;
    right: 5px;
    top: 5px;
}

#conversation-content {
    width: 65%;
    float: left;
    height: calc(100vh - 59px);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

#conversation-content .lines {
    height: calc(100vh - 140px);
    overflow-y: auto;
    padding: 10px;

}

#conversation-content .line {
    margin-top: 10px;
}

#conversation-content .line .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#conversation-content .line .list-message {
    max-width: 500px;
}

#conversation-content .line .list-message .message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

#conversation-content .line.left .avatar {
    float: left;
}

#conversation-content .line.left .list-message {
    float: left;
    margin-left: 10px;
}

#conversation-content .line.left .list-message .message {
    background: rgba(0, 0, 0, 0.05);
}

#conversation-content .line.right .avatar {
    float: right;
}

#conversation-content .line.right .list-message {
    float: right;
    margin-right: 10px;
}

#conversation-content .line.right .list-message .message {
    background: rgb(0, 153, 255);
    color: white;
}

.clear-fix {
    clear: both;
}

#send-message {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#send-message .buttons {
    font-size: 25px;
    padding-top: 20px;
    margin-left: 10px;
    color: rgb(0, 153, 255);
    float: left;
}

#send-message .buttons i {
    cursor: pointer;
}

#send-message input {
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
    border: none;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    outline: none;
    padding: 5px;
    width: calc(100% - 160px);
}

#converstion-info .profile{
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    padding: 10px;
    text-align: center;
}

#converstion-info .profile .avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#converstion-info .profile .name {
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
}

#converstion-info .profile .status {
    color:gray;
    margin: 5px;
}

#converstion-info .actions > div {
    margin-bottom: 10px;
    padding: 5px 15px 5px 0px;
}
#converstion-info .actions .title {
    color: grey;
    font-weight: bold;
}

#converstion-info .actions .action {
    cursor: pointer;
}

#converstion-info .actions .text {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}

#converstion-info .actions .icon {
    float: right;
}

.hr {
    border-color: rgba(0, 0, 0, 0.2);
}